@if(IsOnline)
{
    <button type="button" class="btn btn-success">Online</button>
}
else
{
    <button type="button" class="btn btn-danger">Offline</button>
}

@code {
    [Parameter]
    public bool IsOnline { get; set; }
}



